<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<%= render './welcome/nav' %>
<ul class="recipe-list">
  <div class="recipe-name-desc">
    <li><a href="#">Spinach Potpie</a></li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fuga, inventore nihil totam nobis saepe corporis deserunt, sapiente molestiae dignissimos blanditiis eum. Officia at, nemo repellat magni deserunt dicta explicabo.</p>
  </div>
  <div class="recipe-name-desc">
    <li><a href="#">Zuccini Pizza</a></li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fuga, inventore nihil totam nobis saepe corporis deserunt, sapiente molestiae dignissimos blanditiis eum. Officia at, nemo repellat magni deserunt dicta explicabo.</p>
  </div>
  <div class="recipe-name-desc">
    <li><a href="#">Lental Pasta Salad</a></li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni fuga, inventore nihil totam nobis saepe corporis deserunt, sapiente molestiae dignissimos blanditiis eum. Officia at, nemo repellat magni deserunt dicta explicabo.</p>
  </div>
</ul>
</body>
</html>
