
<%= render './welcome/nav' %>

<% @recipes.each do |recipe| %>
<ul class="recipe-list">
  <div class="recipe-name-desc">
    <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <p><%= recipe.description%></p>
  </div>
</ul>
<%end%>
