<%= render './welcome/nav' %>
  <div class="recipe-name">
    <li><%= @recipe.title %></li>
    <p class='recipe-description'><%= @recipe.description %></p>
  </div>
  <div class="method">
    <ol>
      <div class="li-background">
        <li class="ol-list-style">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nemo, ipsum.</li>
      </div>
      <div class="li-background">
        <li class="ol-list-style">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nemo, ipsum.</li>
      </div>
      <div class="li-background">
        <li class="ol-list-style">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nemo, ipsum.</li>
      </div>
    </ol>
  </div>
