<%= render './welcome/nav' %>
  <div class="recipe-name">
    <li><%= @recipe.title %></li>
    <p class='recipe-description'><%= @recipe.description %></p>
  </div>
  <div class="method">
    <h4>Instructions:</h4>
    <p><%= @recipe.description %></p>
  </div>
