<nav>
  <div class="logo">
    <h4>The Vegan<span data-turbolinks="false"><%= link_to "Cow", root_path, :class => "cow-color" %></span></h4>
  </div>

  <ul data-turbolinks="false" class="nav-links">
    <li>
      <%= link_to "All Recipes", recipes_path, id: "recipe-index" %>
      <!-- <a href="#">All Recipes</a> -->
    </li>
    <li>
      <a href="#">Register</a>
    </li>
    <li>
      <a href="#">Login</a>
    </li>
    <li>
      <a href="#">Contribute</a>
    </li>
  </ul>

  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
