<nav>
  <div class="logo">
    <h4>The Vegan<span class="cow-color">Cow</span></h4>
  </div>

  <ul class="nav-links">
    <li>
      <a href="#">Register</a>
    </li>
    <li>
      <a href="#">Login</a>
    </li>
    <li>
      <a href="#">Contribute</a>
    </li>
  </ul>

  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
