<!-- Header with Logo and Nav Bar-->
<!--<div id="header" class="clearfix">
  <div class="col">
    <ul>
      <li>Register</li>
      <li>Login</li>
      <li>Add Recipie</li>
    </ul>
  </div>
  <div class="col">
    <h2><span id="logo_the">The</span> Vegan<span id="logo_cow"> Cow</span></h2>
  </div>
</div> -->

<div class="topnav" class="clearfix">
  <div id="nav-links" class="col">
    <a class="active" href="#home">Login</a>
    <a href="#news">View Recipes</a>
  </div>
  <div class="col">
    <h2 id="logo-nav"><span id="logo_the">The</span> Vegan<span id="logo_cow"> Cow</span></h2>
  </div>
</div>

<!-- Categories -->
<div class="categories" id="category_padding">
  <div id="breakfast_img">
    <div class="meal_lable">
      <h3 class="img_text">Breakfast</h3>
      <div class="number_of">
        <p>Number of recipes</p>
      </div>
    </div>
  </div>
</div>
<div class="categories">
  <div id="lunch_img">
    <div class="meal_lable">
      <h3 class="img_text">Lunch</h3>
      <div class="number_of">
        <p>Number of recipes</p>
      </div>
    </div>
  </div>
</div>
<div class="categories">
  <div id="dinner_img">
    <div class="meal_lable">
      <h3 class="img_text">Dinner</h3>
      <div class="number_of">
        <p>Number of recipes</p>
      </div>
    </div>
  </div>
</div>
<div class="categories">
  <div id="salad_sides_img">
    <div class="meal_lable">
      <h3 class="img_text">Salad and Sides</h3>
      <div class="number_of">
        <p>Number of recipes</p>
      </div>
    </div>
  </div>
</div>
<div class="categories">
  <div id="desserts_img">
    <div class="meal_lable">
      <h3 class="img_text">Desserts</h3>
      <div class="number_of">
        <p>Number of recipes</p>
      </div>
    </div>
  </div>
</div>
