<!-- Header with Logo and Nav Bar-->
<div class="topnav" class="clearfix">
  <div id="nav-links" class="col">
    <a class="active" href="#home">Login</a>
    <a href="#news">View All Recipes</a>
    <a id="logo-link" href="#"><span id="logo_the">The</span> Vegan<span id="cow">Cow</span></a>
  </div>
</div>

<!-- Categories -->
<div class="categories" id="category_padding">
  <div class="img-css" id="breakfast_img">
    <div class="meal_lable">
      <a href="#"><h3 class="img-text">Breakfast</h3></a>
    </div>
  </div>
</div>
<div class="categories">
  <div class="img-css"id="lunch_img">
    <div class="meal_lable">
      <a href="#"><h3 class="img-text">Lunch</h3></a>
    </div>
  </div>
</div>
<div class="categories">
  <div class="img-css" id="dinner_img">
    <div class="meal_lable">
      <a href="#"><h3 class="img-text">Dinner</h3></a>
    </div>
  </div>
</div>
<div class="categories">
  <div class="img-css" id="salad_sides_img">
    <div class="meal_lable">
      <a href="#"><h3 class="img-text">Salads and Sides</h3></a>
    </div>
  </div>
</div>
<div class="categories">
  <div class="img-css" id="desserts_img">
    <div class="meal_lable">
      <a href="#"><h3 class="img-text">Desserts</h3></a>
    </div>
  </div>
</div>
