<%= render 'nav' %>
<!-- Welcome Body -->
<main>
  <!-- Landing Area -->
  <!-- Categories -->
  <div class="img-css" id="breakfast-img"><img src="/assets/breakfast.jpg" alt="">
  </div>
    <div class="caption">
      <a href="#"><h3>Breakfast</h3></a>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus expedita, aspernatur, iure quos deleniti vitae cupiditate sapiente illum eaque sed magni vel officia optio minus, blanditiis voluptates provident dolorum ullam!</span>
      </p>
    </div>
  <div class="img-css" id="lunch-img"><img src="/assets/lunch.jpg" alt="">
  </div>
    <div class="caption">
      <a href="#"><h3>Lunch</h3></a>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus expedita, aspernatur, iure quos deleniti vitae cupiditate sapiente illum eaque sed magni vel officia optio minus, blanditiis voluptates provident dolorum ullam!</span>
      </p>
    </div>
  <div class="img-css" id="dinner-img"><img src="/assets/dinner.jpg" alt="">
  </div>
    <div class="caption">
      <a href="#"><h3>Dinner</h3></a>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus expedita, aspernatur, iure quos deleniti vitae cupiditate sapiente illum eaque sed magni vel officia optio minus, blanditiis voluptates provident dolorum ullam!</span>
      </p>
    </div>
  <div class="img-css" id="salad-img"><img src="/assets/salads2.jpg" alt="">
  </div>
    <div class="caption">
      <a href="#"><h3>Salad and Sides</h3></a>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus expedita, aspernatur, iure quos deleniti vitae cupiditate sapiente illum eaque sed magni vel officia optio minus, blanditiis voluptates provident dolorum ullam!</span>
      </p>
    </div>
  <div class="img-css" id="dessert-img"><img src="/assets/desserts.jpg" alt="">
  </div>
    <div class="caption">
      <a href="#"><h3>Desserts</h3></a>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus expedita, aspernatur, iure quos deleniti vitae cupiditate sapiente illum eaque sed magni vel officia optio minus, blanditiis voluptates provident dolorum ullam!</span>
      </p>
    </div>
</main>
