<%= render 'nav' %>
<!-- Welcome Body -->
<div class="welcome_body">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum earum, voluptate neque! Similique quas aut dolorum hic amet assumenda aspernatur ipsam dolores earum, et officia, quis veniam explicabo doloremque eos?</p>
</div>
