.show-category-recipe {
  margin: 0 auto;
  max-width: 500px;
  margin-top: 24px;
  margin-bottom: 24px;
  width: auto;
  text-align: left;
  line-height: 200%;
  padding: 8px 12px;
  background-color: lightgreen;
}

#show-recipe-title {
  color: red;
  text-align: center;
}
