* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: lightgreen;
  font-family: 'Poppins', sans-serif;
  padding: 10px 10px

}

.logo {
  color: 	#FF0000;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.cow-color {
  color: 	#8B4513;
}

.nav-links {
  display:flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ebeef2;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;

}

// Hamburger Menu
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #ebeef2;
  margin: 5px;
}

@media screen and (max-width: 1024px){
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 760px){
  body{
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);

}
