// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.recipe-list {
  text-align: center;
  list-style-type: none;
}

.recipe-list a {
  color: #FF0000;
}

.recipe-list a:hover {
  color: darkgreen;
  transition: all 1s ease-out;
}

.recipe-name-desc {
  margin: 1em;
  padding: 1em;
}

.recipe-name-desc p {
  color: #8B4513;
}

.recipe-name li {
  margin-top: 1em;
  color: #8B4513;
  text-align: center;
  list-style-type: none;
}
.recipe-description {
  text-align: center;
  padding: 1em;
}

// This CSS is for the Recipe's Method - I haven't created the method in the db yet, and I don't really like the way the CSS looks 

.method  {
  text-align: left;
  padding: 1em;
  margin: 1em;
}

.method li {
  margin: .7em;
}

.li-background{
  margin: .5em;
  padding: .5em 1em .5em 1em;
  background-color: lightgray;
}
ol {
   list-style: none;
   counter-reset: item;
 }
  li {
   counter-increment: item;
   margin-bottom: 5px;
 }
 li:before {
   margin-right: 10px;
   content: counter(item);
   background: red;
   border-radius: 100%;
   color: black;
   width: 1.5em;
   text-align: center;
   display: inline-block;
 }
