// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}


.topnav {
  overflow: hidden;
  background-color: #F5F5F5;
  position: fixed;
  width: 100%;
}

// .clearfix fixes the float issue
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  transition: background-color 0.5s ease;
  color: black;
}

.topnav a.active {
  color: black;
}

.col {
  display: inline-block;
  width: 40%;
}

#logo-nav {
  padding-top: 2px;
}

.categories {
  width: 100%;
  height: 100vh;
}

#breakfast_img {
  background-image: url("/assets/breakfast.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

#lunch_img {
  background-image: url("/assets/lunch.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

#dinner_img {
  background-image: url("/assets/dinner.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

#salad_sides_img {
  background-image: url("/assets/salads_sides.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

#desserts_img {
  background-image: url("/assets/desserts.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

#logo_the {
  color: red;
}

#category_padding {
  padding-top: 75px;
  padding-bottom: 15px;
}
