<%= render './welcome/nav' %>
<!-- Welcome Body -->
<main>
  <!-- Landing Area -->
  <!-- Categories -->
<% @categories.each do |category|%>
  <div class="img-css" id="breakfast-img"><img src="/assets/breakfast.jpg" alt="">
  </div>
    <div class="caption">
      <h3 data-turbolinks="false"><%= link_to category.name, category_path(category), :class => 'caption-text' %></h3>
  <!--
      <div class="new-recipe">
        <h4>New Recipes</h4>
      </div>
    -->
      <div class="recipe-number">
        <p>Number of recipes: <%= category.recipes.size%></p>
      </div>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus expedita, aspernatur, iure quos deleniti vitae cupiditate sapiente illum eaque sed magni vel officia optio minus, blanditiis voluptates provident dolorum ullam!</span>
      </p>
    </div>
<%end%>
</main>
